.slider{
    background: url(../../Assets/slidebg.png);
    margin: 0 auto;
}
/* .slider img{
    width: 90%;
}
.slick-next{
    
} */
.slick-next:before{
    position: relative;
    left: -100px;
    z-index: 10000;
    
}