.slider{
    background: url(../../Assets/slidebg.png);
    margin: 0 auto;
    height: 180px;
}
.slider img{
    width: 80%;
    height: 180px;
    object-fit: contain;
}
/* .slick-next{

} */
.slick-next{
    right: 10% !important;
    z-index: 1000;
    font-size: 35px !important;
}
.slick-prev {
    left: 25px !important;
    z-index: 1000;
    font-size: 35px !important;
}

.slick-prev:before, .slick-next:before{
    font-size: 35px !important;
}
.slick-prev:before{
    font-size: 30px !important;
}
/* .slick-next:before{
    position: relative;
    left: -100px;
    z-index: 10000;

} */